html,body {
    margin: 0;
    font-size:9pt;
    font: 400 13.3333px Arial;
    overflow-y: hidden;
}

/*------------Login admin--------------*/

.bg{
    position: absolute;
    left:0;
    top:10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    background: url("../assets/bg.png") fixed no-repeat !important;
    z-index:-1;
    top:70px;
}

.fomrLogin {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    margin: 1% 9%;
    padding: 0;
    width: 720px;
    height: 400px;
    z-index: 2;
    border: 5px solid rgb(218,165,32);
    border-radius: 10px;
}

/*------------Login admin ends--------------*/

.sidebar-menu ul {
    list-style-type: none;
    margin: 50px auto;
    padding: 5px;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 3px solid rgb(218,165,32);
    margin-right:10px; 
}

.wrapper{
    margin-top: -15px;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    
}

li a.active {
    background-color:rgb(218,165,32);
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
    transition: all 600ms ease-in-out; 
}

/* support */

.support{
    position: fixed;
    padding: 10px;
    right:30px;
    bottom:0;
    width:300px;
    color:black;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:none;
    font-weight: bolder;
    z-index: 5;
    text-align: center;
    background-color: rgb(218,165,32);
}

#send{
    width:100%;
}

.support a{
    color:black;
    font-weight: bolder;
    width:100%;
}

.support a:hover{
    color:rgb(7, 76, 165);
    text-decoration: none;
}

#form{
    display: none;
}


/* support ends*/


/*---------------------------Navigation------------------------------------*/
/*header*/

header{
    height: 70px;
    border-bottom: 7px solid rgb(218,165,32);
    text-align: center;
    position: fixed;
    margin-bottom:15%;
    top:0;
    left:0;
    width:100%;
    background: rgb(36, 35, 35);
    color:white;
    z-index:1;
}

.leftHeader{
    top:0;
    left:0;
    margin-top:5px;
    margin-left: 10px;
    position:fixed;
}

.rightHeader{
    top:0;
    right:0;
    margin-top:15px;
    margin-right: 10px;
    float: right;
    position: absolute;
}

#namelogo{
    width:30%;
}

/* end header */
/*---------------------------------------------------------------*/

/* side bar */

.imageLeft{
    float: left;
    width:70px;
    height:90px;
    margin-right:5px;
    margin-top:6px;
}

.userWelcome{
    margin-top:5px;
}
.userProfile{
    padding:10px;
    margin-bottom:10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(17, 16, 16, 0.432);
}

/* side bar end*/


/*---------------------- main-content ------------------------*/

.main-content{
    margin-top:6%;
}

/* Welcome content */


.welcomeTitle{
    background-color: rgb(17, 16, 16);
    border-bottom:5px solid  rgb(218,165,32);
    color:white;
    padding:7px 10px;
    box-shadow: 5px 5px 5px rgba(17, 16, 16, 0.356);
    /* position: fixed;
    top:10%;
    left:0;
    width: 100%;
    height: 55px; */
}

.mainTitle{
    position: fixed;
    top:10%;
    left:0;
    width: 100%;
    height: 55px; 
}

.welcomeContent{
    padding:20px;
    margin-top:-10px;
}

.list{
margin-top:-35px;
}

.table{
    margin-top: -47px;
}
/* Welcome content end */

/*--------------------- main-content ends--------------------*/

/*----------------------Registration Content starts--------------------*/

.form-control,.btn{
    margin-top:5px;
}


/*----------------------Registration Content ends--------------------*/

/*-----------------------Button Gold --------------------------------*/
.button-gold{
    background: #000;
    color: #f1f1f1;
    border: solid 2px rgb(218,165,32);
}

input.form-control{
    background: transparent;
    border: 2px solid rgb(218,165,32);
}

/*-----------------switch button  start---------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(87, 65, 10);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(233, 193, 93);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:rgb(218,165,32);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(218,165,32);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*-----------------switch button ends----------------*/

#namelogo{
    width:30%;
}
